# Ignore all .log files in the log directory
/log/*.log

# Ignore all .log files in all subdirectories of the log directory
/log/**/*.log

# Ignore all .json files in all subdirectories of the log directory
/log/**/*.json

# Except the template file inside the log directory
!/log/_example_log_20240418_183819.log

# Ignore .vscode folder
.vscode/
